*{margin: 0;
padding: 0;
box-sizing: border-box;}

@font-face {
    font-family:raleway ;
    src: url(./fonts/Raleway-VariableFont_wght.ttf);
}
@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-VariableFont_wdth\,wght.ttf);
}

    /* phone screen setting */
@media screen and (min-width:0px) and (max-width:480px) {

   header nav ul{
     display: none;
   }
   .fa-solid fa-bars {
     display: block;
   }
   .container1{
        display: flex;
        flex-direction: column;
   }
   .container1 img{
    width: 300px;
   }
}    
    /* header start */
    header{
        padding: 60px 110px;
        display: flex;
        justify-content: space-between;
    }
    header img{
        width: 170px;
    }
    nav ul{
        display: flex;
        gap: 40px;
    }
    nav ul li{
        list-style: none;
        text-transform: uppercase;
        font-family: raleway;
    }
    nav ul li button{
        position: relative;
        bottom: 10px;
        text-transform: uppercase;
        background-color: #ce6528;
        width: 90px;
        height: 40px;
        border: none;
        border-radius: 5px;
    }
    .fa-bars{
        display: none;
    }
        /* header end */


        /* hero section 1 start */
    .container1{
        padding: 60px 110;
        display: flex;
    }
    .Conchild1 h1{
        font-family: roboto;
        font-size: 50px;
        font-weight: 400;
        line-height: 50px;
        color: #171730;
    }
    .Conchild1 p{
        font-family: roboto;
        font-weight: 400;
        font-size: larger;
        line-height: 30px;
        color: rgb(160, 160, 167);
    }
    .container1button{
        padding: 20px 0px;
        display: flex;
        gap: 20px;
    }
    .container1button button{
        border: none;
        border-radius: 5px;
        background-color: rgb(55, 127, 187);
        color: white;
        font-size: large;
        width: 170px;
        height: 45px;
    }
    .container1button .button2{
        background-color: white;
        color: black;
        box-shadow: 2px 2px 5px grey;
    }
    .container1button .button1:hover{
        cursor: pointer;
        background-color: white;
        color: black;
        box-shadow: 2px 2px 5px grey;
    }
    .container1button .button2:hover{
        cursor: pointer;
        background-color: rgb(55, 127, 187);
        color: white;
    }
        /* hero section 1 end */

        /* featres section start  */

    .container2{
        padding: 60px 100px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #dddddd;
        text-align: center;
        font-family: roboto;
    }
    .container2 h1{
        text-transform: uppercase;
        font-weight: 400;
        font-size: medium;
    }
    .container2 p{
        color: grey;
    }
           /* featres section end  */

        /* hero section 2 start         */

    .container3{
        padding: 60px 110px;
        display: flex;
        gap: 90px;
    }
    .child2{
        display: flex;
        flex-direction: column;
        justify-content: center;
        row-gap: 15px;
        font-family: roboto;

    } 
    .child2 h1{
        font-weight: 400;
        color: #171730;
    } 
    .child2 p{
        color: #a0a0a7;
        font-weight: 500;
    } 
    .child2 button{
        width: 130px;
        height: 7vh;
        background-color: #5267df;
        color: white;
        text-transform: capitalize;
        font-size: medium;
        border: none;
        border-radius: 7px;
    }
    .child2 button:hover{
        background-color: white;
        color: #171730;
        box-shadow: 2px 2px 2px black;
    }
           /* hero section 2 start         */